body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f5f1e8;
  color: #152239;
  text-align: center;
  padding: 40px 20px;
}

header {
  margin-bottom: 40px;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.marca {
  color: #2db8bc;
}

.subtitulo {
  color: #abca25;
  font-size: 1rem;
  margin-top: -10px;
}

a.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #2db8bc;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

a.btn:hover {
  background-color: #24a1a6;
}


footer {
  margin-top: 60px;
  font-size: 0.9rem;
  color: #666;
}
